<template>
<div>
  <pixi ref="pixiobj"></pixi>
  <textarea v-model="pixiText"></textarea>
  <button v-on:click="doPixi">הפעל</button>
</div>
</template>

<script>
import pixi from './Pixi';

export default {
    name:'action',
    components: {
    pixi
  },
  data: function () {
  return {
    pixiText:"cvcxv"
  }
},
  methods: {
      doPixi: function () {
          this.$refs.pixiobj.activate(this.$data.pixiText);
      }
  },
}
</script>

<style>
textarea {
    height:300px;
    width:300px;
    margin:0;
}
</style>
