<template>
  <div ref="pixiDiv" class="pixiDiv">
  </div>
</template>

<script>
import * as PIXI from 'pixi.js';
import 'pixi-spine';
import preloader from '../utils/pixiUtils/ImagePreloader.js';
import analyzer from '../utils/nlpUtils/TextAnalyzer.js';
import slotNames from '../utils/pixiUtils/SlotNames.js';
import todoCreator from '../utils/nlpUtils/AnalyzerHelper.js'

export default {
  name: 'pixi',
  data: function () {
    return {
      pixiApp:{},
      backgroundContainer: new PIXI.Container(),
      actionContainer: new PIXI.Container(),
      characterScale:0,
      spineCharacter:{},
    }
  },
  mounted() {
      this.initStage();
      this.initSprites(["static/backgrounds/empty.jpg"]);
  },
  methods: {
      initStage: function(){
        this.$data.pixiApp = new PIXI.Application(this.$refs.pixiDiv.clientWidth,  this.$refs.pixiDiv.clientHeight, {transparent:true});

        this.$data.pixiApp.stage.addChild(this.$data.backgroundContainer);
        this.$data.pixiApp.stage.addChild(this.$data.actionContainer);
    
        this.$refs.pixiDiv.append(this.$data.pixiApp.view);
      },

      initSprites: function(bgFileName){
          var backgroundLoaded = function () {
            var image = PIXI.loader.resources[bgFileName].texture;
            var sprite = new PIXI.Sprite(image);
            var scale = this.$data.pixiApp.renderer.width / (image.width - 15);
            this.$data.characterScale = scale;
            sprite.scale.set(scale, scale);
            sprite.position.set(0,0);
            this.$data.backgroundContainer.addChild(sprite);
            PIXI.loader.add('child', 'static/spine/Character.json').load(function(){preloader.preload(PIXI.loader);});
          };
            
          PIXI.loader.add(bgFileName).load(backgroundLoaded.bind(this));
      },
      activate: function(text) {
           this.$data.actionContainer.removeChildren();
           let todo = analyzer.analyzeText(text);
           this.showSpine(todo);
      },
      showSpine: function(todo) {
         if (PIXI.loader.resources['child'] != undefined) {
            //changeBackground("/images/backgrounds/empty.jpg");
            this.$data.spineCharacter = new PIXI.spine.Spine(PIXI.loader.resources['child'].spineData);
            this.$data.spineCharacter.scale.set(this.$data.characterScale,this.$data.characterScale);
            this.setCharacterStartupPoint();
            var currTimeout = 0;
            todo.forEach(function(todoItem, index) {
                
                setTimeout(function() {this.performTodo(todoItem);}.bind(this),currTimeout);
                currTimeout+=todoItem["timeout"];
            }.bind(this));
          } else {
            var tryAgain = function() {
              this.showSpine(todo).bind(this);
            }
            setTimeout(tryAgain.bind(this),50);
          }
      },
      setCharacterStartupPoint: function() {
        let todo = [];
        this.$data.spineCharacter.x = this.$data.pixiApp.stage.width / 3;
        this.$data.spineCharacter.y = this.$data.pixiApp.stage.height - this.$data.pixiApp.stage.height / 15;
    
        var alpha = 0.5;
        let tint = 'FFFFFF';
        this.$data.spineCharacter.skeleton.setSlotsToSetupPose();
        todo = todoCreator.addTintTodo("pants", tint, todo);
        todo = todoCreator.addAlphaTodo("pants", alpha, todo);
        todo = todoCreator.addTintTodo("short hair", tint, todo);
        todo = todoCreator.addAlphaTodo("short hair", alpha, todo);
        todo = todoCreator.addTintTodo("shirt-dress", tint, todo);
        todo = todoCreator.addAlphaTodo("shirt-dress", alpha, todo);
        
        todo.forEach(function(todoItem, index) {
            this.performTodo(todoItem);
        }.bind(this));
      },

      performTodo : function(todoItem) {
        var slotsInfo = slotNames[todoItem["object"]];

        if (todoItem["action"] == "change") {

            slotsInfo.forEach(function(slotItem, index) {
                if (slotItem["slotIndex"] == -1) {
                    slotItem["slotIndex"] = this.$data.spineCharacter.skeleton.findSlotIndex(slotItem["slotName"]);
                } 
                var newAttachment = todoItem["newAttachment"];
                if (slotItem["slotAttachments"][newAttachment]) {
                    var attachment = this.$data.spineCharacter.skeleton.data.defaultSkin.getAttachment(slotItem["slotIndex"], 
                                                                                  slotItem["slotAttachments"][newAttachment]);
                    this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].setAttachment(attachment);
                }
            }.bind(this));
        } else if (todoItem["action"] == "tint") {
            slotsInfo.forEach(function(slotItem, index) {
                if (slotItem["slotIndex"] == -1) {
                    slotItem["slotIndex"] = this.$data.spineCharacter.skeleton.findSlotIndex(slotItem["slotName"]);
                } 
                var bigint = parseInt(todoItem["color"], 16);
                var r = ((bigint >> 16) & 255)/255;
                var g = ((bigint >> 8) & 255)/255;
                var b = (bigint & 255)/255;
               this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].attachment.color.r = r;
                 this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].attachment.color.g = g;
               this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].attachment.color.b = b;
                this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].currentSprite.alpha = 1;
            }.bind(this));
        } else if (todoItem["action"] == "alpha") {
            slotsInfo.forEach(function(slotItem, index) {
                if (slotItem["slotIndex"] == -1) {
                    slotItem["slotIndex"] = this.$data.spineCharacter.skeleton.findSlotIndex(slotItem["slotName"]);
                } 
                this.$data.spineCharacter.skeleton.slots[slotItem["slotIndex"]].currentSprite.alpha = todoItem["alpha"];
            }.bind(this));
        } else if (todoItem["action"] == "background") {
            this.$data.backgroundContainer.removeChildren();
            changeBgImage = function() {
              let image = PIXI.loader.resources[todoItem["fileName"]].texture;
              let sprite = new Sprite(image);
              sprite.scale.set(this.$data.characterScale, this.$data.characterScale);
              sprite.position.set(0,0);
              this.$data.backgroundContainer.addChild(sprite);
            }
            if (PIXI.loader.resources[todoItem["fileName"]] == undefined) {
                PIXI.loader.add(todoItem["fileName"]).load(this.changeBgImage.bind(this));
            } else {
                changeBgImage().bind(this);
            }
        } else if (todoItem["action"] == "speech") {
           // displaySpeechBubble(todoItem["speechText"]);
        } else if (todoItem["action"] == "animation") {
            activateAnimation(todoItem["animationName"], todoItem["duration"],todoItem["speed"]);
        } else if (todoItem["action"] == "character") {
            this.$data.actionContainer.addChild(this.$data.spineCharacter);
        }
      },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pixiDiv {
  width: 50%;
  height:300px;
  margin: 0;
}
</style>
